body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

#ip-display {
    font-size: 1.5em;
    color: #555;
}
